body{
    background-color: rgba(2, 3, 43, 0.925);
    }
 .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
 }
    .lat{

        position: fixed;
        display: flex;
        flex-direction: column;
        max-width: 300px;
        height: 100vh;
        background-color: rgba(2, 3, 43, 0.945);
        gap: 20px;
    }
    
    
    .logo-sistem img{
        width: 270px;
        height: 150px;
        margin-top: 30px;
    
    }
    
    .menu-lat{
        display: flex;
        flex-direction: column;
        gap: 1px;
        max-height: 318px;
        overflow: scroll;
    }
    
    .menu-lat::-webkit-scrollbar {
        display:none;
      }
    
    .itens-lat{
        width: 80%;
        height: 50px;
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border: 0.5px solid rgba(3, 143, 161, 0.24);
        border-left: none;
        padding-left: 15px;
    }
    .itens-lat:hover{
        background-color: rgba(10, 144, 227, 0.374);
    }
    
    .itens-lat img{
        width: 35px;
        height: 35px;
    
    }
    
    .btn-lat{
        align-items: center;
        text-align: left;
        width: 280px;
        height: 50px;
        background: none;
        padding-left: 10px;
        font-size: 22px;
    
    }
    
    .logout{
        width: 80%;
        height: 50px;
        display: flex;
        align-items: center;
        gap: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border: 0.5px solid rgba(3, 143, 161, 0.24);
        border-left: none;
        padding-left: 15px;
        margin-top: 20px;
        
    }
    
    .logout img{
        width: 35px;
        height: 35px;
    }
    
    .logout:hover{
        background-color: rgba(10, 144, 227, 0.374);
    }
    
    .btn-logout{
        background: none;
        width: 100%;
        height: 100%;
        font-size: 22px;
        padding-left: 5px;
        text-align: left;
    }
    
    .inform {
        text-align: center;
    }
    
    .card_user{
        position: fixed;
        left: 330px;
        display: flex;
        flex-direction: column;
        width: 230px;
        height: max-content;
        background-color: rgba(2, 3, 43, 0.945);
        border-radius: 10px;
        align-items: center;
        gap: 5px;
    
    }
    
    .divinf{
        margin-top: 20px;
        height: 230px;
        width: 200px;
        text-align: center;
        border-bottom: solid 1px gray;
    }
    
    .foto img{
        width: 130px;
        height: 130px;
        border-radius: 80px;
    }
    
    .txtinf{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        font-weight: 600px;
        color: white;
        gap: 10px;
    }
    .menuinf_user{
        width: 190px;
        justify-content: left;
        font-size: 15px;
        padding-bottom:25px;
    }
    .menuinf_user li{
        width: 100%;
        list-style: none;
        margin-top: 15px;
    }
    .menuinf_user img{
        padding-right: 8px;
        height: 20px;
    }
    .menuinf_user a:hover{
        color: rgb(6, 241, 222);
    }
    
    .colunform{
       margin-left: 600px;

    }
    
    .basicinformation{
        display: flex;
        flex-direction: column;
        background-color: rgba(2, 3, 43, 0.945);
        width: 600px;
        border-radius: 10px;
        padding: 10px;
    }
    
    .sectitle{
        height: 20px;
        padding: 1rem;
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.473);
    }
    
    .card_body{
        padding: 1rem;
        padding-right: 1.5rem;
        gap:50px
    }
    
    .rowcamp{
        padding-bottom: 5px;
    }
    
    .nomecamp{
        padding-bottom: 3px;
        font-weight: 400;
    }
    
    .inputcamp{
        width: 95%;
        border-radius: 10px;
        border: 0.5px solid black;
        background-color: rgba(44, 43, 43, 0.808);
        font-weight: 400;
        font-size: 1.2rem;
        padding: 7px;
        margin-bottom: 8px;
    }
    
    .txtcamp{
        width: 95%;
        height: 80px;
        border-radius: 10px;
        border: 0.5px solid black;
        background-color: rgba(44, 43, 43, 0.808);
        font-weight: 400;
        font-size: 1rem;
        padding-top: 7px;
        padding-left: 13px;
        padding-right: 13px;
        padding-bottom: 7px;
        margin-bottom: 6px;
    
    }
    
    .Submit {
        display: flex;
        justify-content: center;
      }
    
    .submitForm {
        background-color: rgb(10, 153, 219);
        height: 40px;
        width: 150px;
      
        border-radius: 20px;
        border: none;
      
        color: rgba(10, 34, 72);
        font-size: 18px;
        font-weight: bolder;
      
        -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
      }
      
      .submitForm:hover,
      .submitForm:focus {
        color: #fff;
      
        outline: 0;
        cursor: pointer;
      
        box-shadow: 0 0 2px 2px rgb(10, 153, 219);
      }
      
      .submitForm-red {
        background-color: rgba(252, 0, 0, 0.486);
        height: 40px;
        width: 150px;
      
        border-radius: 20px;
        border: none;
      
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: bolder;
      
        -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
      }
      
      .submitForm-red:hover,
      .submitForm-red:focus {
        color: #fff;
      
        outline: 0;
        cursor: pointer;
      
        box-shadow: 0 0 2px 2px rgb(10, 153, 219);
      }
      